# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache
*.log
.env
/RBacServer/rbac.db

# ASP.NET Secrets
**/Properties/launchSettings.json

# Node (React)
RbacClient/node_modules/
RbacClient/build/
RbacClient/.env

